.quote {
    border-bottom: 1px solid #f2f2f2;
    margin: 100px;
    margin-bottom: 0px;
    margin-right: 180px;
    padding-bottom: 70px;
    @include breakpoint (tablet) {
        margin: 10px;
        margin-top: 130px;
    }
    blockquote {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.5px;
        color: #222;
        margin: 0px;
        margin-bottom: 20px;
        @include breakpoint (tablet) {
            margin: 0px;
            margin-bottom: 20px;
            margin-top: 25px;
            font-size: 30px;
            line-height: 50px;
        }
    }
    span {
        font-size: 17px;
        color: dimgray;
        line-height: 30px;
        @include breakpoint (tablet) {
            margin-left: 0px;
        }
    }
}

.oswrapper {
    margin: 0px 180px 50px 100px;
    margin-bottom: 20px;
    outline: 0;
    border: 0;
    @include breakpoint (tablet) {
        margin: 10px;
    }
    h1 {
        font-weight: 400;
        margin-bottom: 30px;
        color: #222;
        font-size: 22px;
        padding-top: 80px;
        text-decoration: underline;
    }
    a {
        color: #141414;
        text-decoration: none;
    }
    h4 {
        font-size: 25px;
        margin: 0px;
        font-weight: 300;
        span {
            font-family: Arial, sans-serif;
            vertical-align: baseline;
        }
    }
    p {
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 0px;
        letter-spacing: 0.5px;
    }
    .grid-item {
        height: 170px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid #f2f2f2;
        width: 100%;
    }
}
