.quote {
    border-bottom: 1px solid #f2f2f2;
    padding: 70px 0px;
    width: 100%;
    blockquote {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.5px;
        color: #222;
        margin: 30px 200px 30px 200px;
        @include breakpoint (tablet) {
            margin: 10px;
            margin-bottom: 20px;
            margin-top: 25px;
            font-size: 30px;
            line-height: 50px;
        }
    }
    span {
        margin-left: 50px;
        font-size: 17px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        color: dimgray;
        margin-left: 200px;
        @include breakpoint (tablet) {
            margin-left: 10px;
        }
    }
}

.oswrapper {
    margin: 0px 180px 50px 200px;
    margin-bottom: 20px;
    outline: 0;
    border: 0;
    @include breakpoint (tablet) {
        margin: 10px;
    }
    h1 {
        font-weight: 400;
        margin-bottom: 30px;
        color: #222;
        font-size: 22px;
        margin-top: 80px;
        text-decoration: underline;
    }
    a {
        color: #141414;
        text-decoration: none;
    }
    h4 {
        font-size: 25px;
        margin: 0px;
        font-weight: 300;
        span {
            font-family: Arial, sans-serif;
            vertical-align: baseline;
        }
    }
    p {
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 0px;
        letter-spacing: 0.5px;
    }
    .grid-item {
        height: 170px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid #f2f2f2;
        width: 100%;
    }
}
