// Variables

$white: #FFFFFF;
$black: #000000;

$accent: #0057E5;
$green: #2ECC71;
$KI_blue: #0099E8;
$KI_blue1: #009AE2;
$button_green: #00CC7B;
$bg_color: #F9F9F9;
$KI_bg: #F0F4F7;
$KI_text_home: #434551;
$KI_footer_link: #899AAF;
$KI_footer_bg: #F0F4F7;

// Greys
$grey: #999999;
$light-grey: #f5f5f5;
$mid-grey: #d7dada;
$dark-grey: #353b3b;

// Default Color
$default: $dark-grey;

// Flat UI Color Swatches
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// Message Colors
$msg-default: #999;
$msg-success: #5cb85c;
$msg-warning: #f0ad4e;
$msg-danger: #d9534f;
$msg-info: #5bc0de;

//Social Colors 
$dailymile: #FFAA25;
$facebook: #3B5998;
$flickr: #f80082;
$github: #F7F7F7;
$google: #d7473d;
$instagram: #37658D;
$linkedin: #2C8CC0;
$pinterest: #c5142b;
$runkeeper: #3193d3;
$skype: #00abee;
$spotify: #7AB800;
$twitter: #3B8ACA;