<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% include "shared/meta.html" %} 
    {% include "shared/links.html" %}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/orkney" type="text/css"/>
</head>

<body>
		{% include "shared/header.html" %}
		
    {% block content %}{% endblock %}

    {% block javascript %}
    <script src="{{ base_path }}javascripts/app.js"></script>
    {% endblock %}

    <script type="text/javascript">"serviceWorker"in navigator&&window.addEventListener("load",function(){navigator.serviceWorker.register("sw.js").then(function(n){},function(n){console.log("f",n)})});</script>
</body>

</html>
